/* メニュー */
label {
  cursor: pointer;
  font-size: 0.5625rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.u-hidden {
  visibility: hidden !important;
  position: absolute !important;
}

/* メニュースマホ */
.controls {
  z-index: 2;
  position: absolute;
  display: flex;
  left: 1.5rem;
  bottom: 2rem;
  right: 1.5rem;
  max-width: 32rem;
  height: 2.5rem;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 0.25rem;
}
/* メニューPC */
@media (min-width: 32rem) {
  .controls {
    margin-left: auto;
    margin-right: auto;
    bottom: auto;
    top: 3.5rem;
  }
}
.controls__item {
  flex-grow: 1;
  min-height: 100%;
  line-height: 2.5rem;
}
.controls__item:not(:last-child) {
  border-right: 1px solid rgba(255, 255, 255, 0.15);
}

.dropdown {
  max-width: 32rem;
}
.dropdown__radio:checked ~ .dropdown__label-open {
  display: none;
}
.dropdown__radio:not(:checked) ~ .dropdown__label-close {
  display: none;
}
.dropdown__label-open,
.dropdown__label-close {
  display: block;
  line-height: 2.5rem;
  color: white;
  text-align: center;
}
.dropdown__label-close {
  background-color: rgba(255, 255, 255, 0.15);
}

/* 隠しメニュー スマホ*/
.dropdown__contents {
  position: fixed;
  left: 1.5rem;
  right: 1.5rem;
  bottom: 5.5rem;
  top: 50%;
  height: auto;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  border-radius: 0.25rem;
  transition: all 0.25s ease-in-out;
  transform: translate3d(0, 1.5rem, 0) scaleY(0.5);
  transform-origin: 0 100%;
}

/* 隠しメニュー pc*/
@media (min-width: 32rem) {
  .dropdown__contents {
    left: calc(50% - 16rem);
    right: calc(50% - 16rem);
    top: 7rem;
    bottom: 50%;
    transform: translate3d(0, -1.5rem, 0) scaleY(0.75);
    transform-origin: 0 0;
  }
}
.dropdown__contents-inner {
  position: absolute;

  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 0.25rem;
  background-color: rgba(0, 0, 0, 0.75);
}

/* コンテナpc*/
@media (min-width: 32rem) {
  .dropdown__contents-inner {
    bottom: auto;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
  }
}
.dropdown__radio:checked ~ .dropdown__contents {
  opacity: 1;
  pointer-events: auto;
  transform: translate3d(0, 0, 0);
}

.ui-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 0.25rem;
}
.ui-list__item {
  text-align: left;
  padding: 0 1.5rem;
  line-height: 2.5rem;
  color: white;
}
.ui-list__item:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.ui-list__item--no-padding {
  padding: 0;
}
.ui-list__input {
  border: none;
  display: block;
  width: 100%;
  background-color: transparent;
  color: white;
  padding-left: 1.5rem;
}
/* メニュー */

body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#menu {
  background-color: #404040;
  position: absolute;
  /*         z-index: 1; */
  top: 5px;
  left: 5px;
  border-radius: 3px;
  width: 95%;
  border: 1px solid rgba(0, 0, 0, 0.4);
  font-family: "Open Sans", sans-serif;
}

#menu a {
  background-color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 30px;
  color: #404040;
  display: block;
  margin: 0;
  padding: 5px;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

#menu a:last-child {
  background-color: #ffffff;
  border: none;
}

#menu a.active {
  background-color: #404040;
  color: #ffffff;
}

#menu a.noactive {
  background-color: #ffffff;
  color: #404040;
}

#menu2 {
  background-color: #404040;
  position: absolute;
  /*         z-index: 1; */
  top: 5px;
  left: 5px;
  border-radius: 3px;
  width: 95%;
  border: 1px solid rgba(0, 0, 0, 0.4);
  font-family: "Open Sans", sans-serif;
}

#menu2 a {
  background-color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 30px;
  color: #404040;
  display: block;
  margin: 0;
  padding: 5px;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

#menu2 a:last-child {
  background-color: #ffffff;
  border: none;
}

#menu2 a.active {
  background-color: #404040;
  color: #ffffff;
}

.mapboxgl-ctrl-geocoder {
  min-width: 100%;
}
.mapboxgl-ctrl-pitchtoggle-3d {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIzMCI+ICAgIDx0ZXh0IHg9IjUwJSIgeT0iNTAlIiBkeT0iLjM1ZW0iIHN0eWxlPSJmb250LXNpemU6IDE0cHg7IGZvbnQtZmFtaWx5OiAnSGVsdmV0aWNhIE5ldWUnLEFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmOyBmb250LXdlaWdodDogYm9sZDsgdGV4dC1hbmNob3I6IG1pZGRsZTsiPjNEPC90ZXh0Pjwvc3ZnPg==);
}

.mapboxgl-ctrl-pitchtoggle-2d {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIzMCI+ICAgIDx0ZXh0IHg9IjUwJSIgeT0iNTAlIiBkeT0iLjM1ZW0iIHN0eWxlPSJmb250LXNpemU6IDE0cHg7IGZvbnQtZmFtaWx5OiAnSGVsdmV0aWNhIE5ldWUnLEFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmOyBmb250LXdlaWdodDogYm9sZDsgdGV4dC1hbmNob3I6IG1pZGRsZTsiPjJEPC90ZXh0Pjwvc3ZnPg==);
}

/* 画面起動 */
#splash {
  /*fixedで全面に固定*/
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgb(82, 82, 82);
  text-align: center;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}

/* Loading画像中央配置　*/
#splash_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Loading アイコンの大きさ設定　*/
#splash_logo img {
  width: 250px;
}

/* fadeUpをするアイコンの動き */

.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*========= レイアウトのためのCSS ===============*/

#container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* スライダー */
.map-overlay {
  position: absolute;
  width: 95%;
  top: 0;
  left: 0;
  padding: 10px;
}

.map-overlay .map-overlay-inner {
  background-color: #fff;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
}

.map-overlay label {
  display: block;
  margin: 0 0 10px;
}

.map-overlay input {
  background-color: transparent;
  display: inline-block;
  width: 100%;
  position: relative;
  margin: 0;
  cursor: ew-resize;
}

.geocoder {
  position: absolute;
  z-index: 2;
  width: 50%;
  height: 20px;
  left: 10px;
  top: 10px;
}
.mapboxgl-ctrl-geocoder {
  min-width: 100%;
}
